[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = StudyBuddy helps students to excel in their study. With StudyBuddy, students can be supported through various means, such as managing deadline, track their calendar, etc.
[access "refs/*"]
	owner = group user/Aaron Nguyen (prosaox)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Aaron Nguyen (prosaox)
	label-Verified = -1..+1 group user/Aaron Nguyen (prosaox)
	push = group user/Aaron Nguyen (prosaox)
	read = group user/Aaron Nguyen (prosaox)
	rebase = group user/Aaron Nguyen (prosaox)
	removeReviewer = group user/Aaron Nguyen (prosaox)
	submit = group user/Aaron Nguyen (prosaox)
[access "refs/heads/*"]
	create = group user/Aaron Nguyen (prosaox)
	push = +force group user/Aaron Nguyen (prosaox)
	pushMerge = group user/Aaron Nguyen (prosaox)
	read = group user/Aaron Nguyen (prosaox)
[access "refs/tags/*"]
	push = group user/Aaron Nguyen (prosaox)
	push = +force group user/Aaron Nguyen (prosaox)
