[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = StudyBuddy helps students to excel in their study. With StudyBuddy, students can be supported through various means, such as managing deadline, track their calendar, etc.
[access "refs/*"]
	owner = group user/Aaron Nguyen (prosaox)
	owner = group user/Abu Sayeed Khan (sayeedkhannabil)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group Registered Users
	label-Code-Review = -2..+2 group user/Aaron Nguyen (prosaox)
	label-Code-Review = -2..+2 group user/Abu Sayeed Khan (sayeedkhannabil)
	label-Verified = -1..+1 group user/Aaron Nguyen (prosaox)
	label-Verified = -1..+1 group user/Abu Sayeed Khan (sayeedkhannabil)
	push = group user/Aaron Nguyen (prosaox)
	push = group user/Abu Sayeed Khan (sayeedkhannabil)
	read = group user/Aaron Nguyen (prosaox)
	read = group user/Abu Sayeed Khan (sayeedkhannabil)
	rebase = group user/Aaron Nguyen (prosaox)
	removeReviewer = group user/Aaron Nguyen (prosaox)
	submit = group user/Aaron Nguyen (prosaox)
	submit = group user/Abu Sayeed Khan (sayeedkhannabil)
	exclusiveGroupPermissions = label-Code-Review label-Verified push read submit
[access "refs/heads/*"]
	create = group user/Aaron Nguyen (prosaox)
	create = group user/Abu Sayeed Khan (sayeedkhannabil)
	push = +force group user/Aaron Nguyen (prosaox)
	push = group user/Abu Sayeed Khan (sayeedkhannabil)
	pushMerge = group user/Aaron Nguyen (prosaox)
	pushMerge = group user/Abu Sayeed Khan (sayeedkhannabil)
	read = group user/Aaron Nguyen (prosaox)
	read = group user/Abu Sayeed Khan (sayeedkhannabil)
	exclusiveGroupPermissions = create label-Code-Review push
	label-Code-Review = -2..+2 group user/Abu Sayeed Khan (sayeedkhannabil)
[access "refs/tags/*"]
	push = group user/Aaron Nguyen (prosaox)
	push = group user/Abu Sayeed Khan (sayeedkhannabil)
	exclusiveGroupPermissions = push
