.container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  .container img {
    width: 30%;
    height: auto;
  }
  
  .container .btn {
    position: absolute;
    top: 90%;
    left:20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(7, 170, 69);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .container .btn:hover {
    background-color: black;
  }
  .link{
    position: absolute;
    left:20%;
    top:80%;
    background-color: rgb(8, 231, 45);
    color: white;
    text-align: center;
  }
  .remove{
    position: absolute;
    left:5%;
    top:80%;
    background-color: rgb(190, 3, 3);
    color: white;
    text-align: center;
  }
  ul {
    list-style-type: none;
   }
   li{ margin:0 20px 20px 0; vertical-align:top}