.herohome{
    background-color: #f8eaea;
    background-size:100% 100%;
  }
  .note{
    left:50%;
    text-align: center;
    margin:auto;
    font-size:xx-large;
    color: red;
    white-space: pre-wrap;
  }