.login {
    left:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200%;
    margin: auto;
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login input {
    margin: 1vh 2vw;
}

.login button {
    margin: 1vh 2vw;
}
